*
.idea
.DS_Store
!.gitignore
!README.md

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

!*.tfvars
!*.tf
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc